
%table{:class => 'overview'}
  %thead
    %tr
      %th Name
      %th Description
      %th

  %tbody#groups
    - @abilities.each do |ab|
      %tr
        %td=h ab.name
        %td=h ab.description
        %td
          = link_to 'Show', ab

= link_to 'Create new', new_ability_path, :class => 'btn btn-mini' if is_allowed_to?(Ability, :create)
